body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    color: #333;
}

/* TOPO AMARELO */
.cabecalho {
    background-color: #FFDD00;
    text-align: center;
    padding: 30px;
}

.cabecalho h1 {
    font-size: 40px;
    margin-bottom: 15px;
}

/* BOTÕES DO TOPO */
nav button {
    padding: 10px 20px;
    margin: 5px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    background-color: #fff;
    font-weight: bold;
    transition: 0.3s;
}

nav button:hover {
    background-color: #f7f7f7;
}

/* TÍTULO */
.titulo {
    text-align: center;
    font-size: 32px;
    margin-top: 40px;
    margin-bottom: 20px;
}

/* LISTA */
.lista {
    list-style: disc;
    margin: 0 auto;
    padding: 0;
    width: 400px;
    font-size: 20px;
    line-height: 2;
}

/* RODAPÉ */
.rodape {
    margin-top: 60px;
    text-align: center;
    font-size: 14px;
    color: #555;
}
